<%- include("../partials/header"); %>

    <head>
        <link rel="stylesheet" href="stylesheets/error.css">
    </head>

    <p class="barraLaranja"></p>

    <main>

        <div class="container">
            <img src="/images/no-found.gif" alt="NOT-FOUND" id="not-found-img">
        </div>
        <div class="container" id="container">
            <div class="home">
                <span class="home">ERRO 404</span>
            </div>
            <div class="sub-home">
                <span>PÁGINA NÃO ENCONTRADA</span>
            </div>
        </div>
        <div class="buttonHome">
            <form action="/">
                <button type="signup" class="apply">VOLTAR PARA PÁGINA INICIAL</button>
            </form>
        </div>
    </main>





    <%- include('../partials/footer'); %>