<%- include("../partials/header"); %>

    <head>
        <link rel="stylesheet" href="stylesheets/stylespagamento.css">
    </head>
    <main>
        <div class="barraLaranja"></div>
        <div id="middleBox">
            <div id="containerCenter">
                <div id="leftPanel">
                    <div id="EyePay">
                        <div id="iconEye">
                            <span class="iconify" data-icon="mdi:eye-plus" style="color: #ff6500;"></span>
                        </div>
                        <div id="textPay">
                            <p>FORMA DE PAGAMENTO</p>
                        </div>
                    </div>
                    <div id="Pix">
                        <form action="" id="pix2">
                            <span class="iconify" data-icon="ic:round-pix" style="color: white;"></span>
                            <p>PIX</p>
                        </form>
                            <img src="images/qrcode-pix.png" width="180%" height="80%">

                    </div>
                    <div id="Boleto">
                        <span class="iconify" data-icon="ic:round-barcode" style="color: #ff6500;"></span>
                        <div>
                            <p>BOLETO BANCÁRIO</p>
                        </div>

                    </div>
                    <div id="CC">
                        <span class="iconify" data-icon="ic:round-credit-card" style="color: #ff6500;"></span>
                        <div>
                            <p>CARTÃO DE CRÉDITO</p>
                        </div>

                    </div>
                </div>
            </div>
            <div id="bottomPanel">
                <h3 id="tituloEsquerda">
                    TOTAL DA SUA COMPRA:
                </h3>
                <h2 id="valorEsquerda">R$00,00</h2>
            </div>

        </div>
        <div class="bottomBox">
            <div id="back">
                <form action="/carrinho">
                    <button id="backText">VOLTAR</button>
                </form>
            </div>
        </div>

    </main>

<script>
    $("#open").click(function(){
     $("#a").css("display","block");
     $("#b").css("display","block");
                 });


$(".cancel").click(function(){
     $("#a").fadeOut();
     $("#b").fadeOut();
});
</script>
    <%- include('../partials/footer'); %>