
*{
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Poppins, sans-serif !important;
}
cor{
    background: var(#ff6500);
    background: var(#0060b1);
    background: var(#F5F5F5);
    color: rgba(255, 255, 255, 0.8);;
}

.cpOxUA {
    width: 100%;
    height: 2rem;
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 101, 0);
}
@media(min-width:1024px){
    .dkkPAx {
        max-width: calc(80rem);
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 600px){

    .dkkPAx {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.dkkPAx {
    width: 100%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
}

.gzmFQv {
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    align-items: center;
    height: 2rem;
}

nav{
    display: block;
}
.ircUnk {
    width: 11.5rem;
    height: 100%;
    background-color: rgb(227, 82, 20);
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    gap: 1rem;
    padding: 0px 1rem;
    cursor: pointer;
}

.ircUnk span {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.ircUnk svg {
    transition: all 0.4s ease 0s;
    transform: rotate(180deg);
}
.goxuJr {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.dLswVX {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

.jWsTEL {
    width: 0.0625rem;
    height: 1.75rem;
    background-color: rgb(255, 139, 31);
}

.laxcDB::after {
    content: "";
    background-color: rgb(255, 101, 0);
    position: absolute;
    height: 100%;
    left: 100%;
    z-index: 1;
}

.eIlpMu:last-of-type {
    display: none;
}

a:hover {
    background-color: #E35214;
    color: #fff;
    transform: translateY(0px);
}

.box-Main{
    display: flex;
    background-color: rgb(250, 250, 251);
    min-height: calc(100vh - 250px);
    position: relative;
}

.menuLateral{
    position: absolute;
    width: 4rem;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255);
    box-shadow: rgb(40 41 61 / 4%) 0px 2px 4px, rgb(96 97 112 / 16%) 0px 8px 16px;
    transition: 0.1s ease 0s;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.menuMinhaConta{
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
}

.linkMinhaConta{
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    height: 3rem;
    padding: 0px 1.375rem;
    cursor: pointer;
}

.kInaXt svg{
    min-width: 1.5rem;
}