<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/stylesshome.css" rel="stylesheet">
    <link rel="icon" href="images/kabum-icone.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0y">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">
    <title>KaBuM! | Maior E-commerce de Tecnologia e Games da América Latina</title>
</head>

<body>
    <header>
        <div id="fundoHeader">
            <div id="meioHeader">
                <div id="menuHamburguer">
                    <svg width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="https://www.w3.org/2000/svg"
                        class="IconSandwich" data-testid="drawerButton">
                        <path
                            d="M0.75 0.5H29.25V3.66667H0.75V0.5ZM0.75 8.41667H29.25V11.5833H0.75V8.41667ZM0.75 16.3333H29.25V19.5H0.75V16.3333Z"
                            fill="#fff"></path>
                    </svg>
                </div>
                <div id="logoKabum">
                    <form action="/" class="none">
                        <button class="homeButton">
                            <img src="https://logodownload.org/wp-content/uploads/2017/11/kabum-logo-1.png" alt="KaBuM! Tecnologia e Games" width="180px" height="70px" class="none">
                        </button>
                    </form>
                </div>
                <div id="barraBusca">
                    <div id="busca1">
                        <div id="divBusca">
                            <input type="text" id="txtBusca" placeholder="Busque aqui" />

                        </div>
                        <div id="seta">
                            <img src="/images/setas kabum 1.svg" alt="Buscar..." id="btnBusca"/>
                        </div>

                    </div>

                </div>
                <div class="login">
                    <span class="iconify" data-icon="fa:user-circle-o">
                    </span>
                    <div class="textlogin">
                        <ul>
                            <li>Faça <a href="/login" style="color:#DEE0E4;text-decoration: none;">LOGIN</a> ou</li>
                            <li>crie seu <a href="/cadastro" style="color:#DEE0E4; text-decoration: none;">CADASTRO</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="iconsLogin">
                    <!-- <div id="heart">
                        <span class="iconify" data-icon="octicon:heart-fill-16" style="color: white;"></span>
                    </div> -->
                    <div id="cart">
                        <form action="/carrinho" class="buttonCart2">
                            <button class="buttonCart">
                                <img class="iconify" src="https://findicons.com/files/icons/1700/2d/512/cart.png"
                                    width="35px" height="35px"></img>
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!--script-->
        <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

    </header>